{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../static/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>As a dedicated Software Engineer, I've delved into a multitude of facets within the tech realm. Proficient in Python, I've navigated frameworks like Django and Flask, handled data intricacies using pandas, and embraced the world of APIs and databases, encompassing MySQL, PostgreSQL, and more. My commitment to clean code and best practices is unwavering, often advocating for their importance in every project I undertake.</p> 
        <p>Driven by an insatiable thirst for learning, I'm constantly seeking novel challenges to further expand my horizons. Beyond coding, I'm impassioned by the prospect of knowledge-sharing. Recently, I've found an interest in writing. As a backend aficionado, I aspire to pen down my experiences and insights, contributing to the tech community's collective wisdom. Embracing this new avenue allows me to synthesize my technical expertise and articulate it effectively for wider consumption.</p>
        <p>My journey as a Software Engineer has been one of continual growth and evolution. I revel in the dynamism of our ever-evolving field, always ready to embrace the next innovation. Venturing into writing is not just about personal growth; it's a proactive step to give back. My intent is to craft content that not only educates but also inspires fellow developers and tech enthusiasts. Through writing, I aim to be a catalyst for positive change, fostering a community that thrives on shared knowledge and collaboration.</p>
    </div>
    
    </div>
  </div>

  <hr>

  {% include "footer.html" %}