
{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1531592937781-344ad608fabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register</h1>
            <span class="subheading">Start Contributing to the Blog!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       
        <form method="post" action="{% url 'register' %}">
          {% csrf_token %}
          {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Error!</strong> Please correct the following issues:
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ field.label_tag }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
          {% endif %}
          {{ form.username.label_tag }}  <br>
          {{ form.username }}  <br>
          {{ form.email.label_tag }}  <br>
          {{ form.email }}  <br>
          {{ form.password1.label_tag }}  <br>
          {{ form.password1 }}  <br>
          {{ form.password2.label_tag }}  <br>
          {{ form.password2 }}  <br>
          <button style="margin-top: 20px" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}